@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">This is the home page for search the Product for the user, or Add the new information of Product for user.</p>
    <hr class="my-4" />
    <p>Try our webpage to search or add new information to the server!</p>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#productModal">
        Product
    </button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addModal">
        Add New Product
    </button>
</div>


<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Check</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to go to that link?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a type="button" class="btn btn-primary" asp-controller="Product" asp-action="Index">
                Yes
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Double Check</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to go to that link?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a type="button" class="btn btn-primary" asp-controller="Product" asp-action="Add">
                    Yes
                </a>
            </div>
        </div>
    </div>
</div>
